{% extends 'master.html' %}


{% block header %}
<div>Existing shopping items</div>
{% endblock header %}

{% block content %}
    <ul>
    {% for object in object_list %}
        <li>{{ object }}</li>
    {% endfor %}
    </ul>
{% endblock content %}