<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Shopping time</title>
</head>

<body>
<div class="header">
    {% block header %}
    {% endblock header %}
</div>
{% block content %}
{% endblock content %}
</body>
</html>